<h1 align="center">Bem vindo ao Friends!</h1>
    <style>

    	.box {
    		border: 1px solid;
    		font-size: 20px;
    		background: ghostwhite;
    		margin: 10px;
    		padding: 5px;

    	}

    </style>
		
	<% todos = Publication.all%>
	<% todos.each do |publicacao| %>
	<div class="box">
    	<p><%= publicacao.legenda %></p>
    </div>
    <br>
	<%end%>
<h1>Bem vindo a maior rede social do mundo!</h1>
